{% extends "layout.html" %}

{% block page_title %}gplus archiver{% endblock %}

{% block body %}
<h2 class="content-subhead">Enter your community's G+ URL</h2>
<div>
    <!-- make sure the attribute enctype is set to multipart/form-data -->
    <form method="post" action="/csv" enctype="multipart/form-data">
        <!-- upload of a single file -->
        <p>
            <input type="text" name="communityId" id="communityId"
                   placeholder="https://plus.google.com/communities/116965157741523529510"
                   pattern="https://plus.google.com/communities/.*" style="width:90%;" required/>
        </p>

        <p style="text-align: center;">
            <input type="submit" value="Archive It!" style="width: 30%;"/>
        </p>
    </form>
</div>

{% if communities %}
<h2 class="content-subhead">Archived Communities</h2>
<p>
    The communities listed below have already been archived. Click to download the data.
</p>

<ul>
    {% for community in communities %}
    <li><a href="{{ community.url }}">{{ community.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
