{#
layout.html

The basic layout for the site.

@author: https://purecss.io/layouts/
@version: %%buildVersion%%
#}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>gplus-archiver</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-"
          crossorigin="anonymous">


    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="css/layouts/side-menu.css">
    <!--<![endif]-->
</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    {% include 'menu.html' %}

    <div id="main">
        {% if flash['message'] %}
        <div id="flashmessage">{{ flash['message'] }}</div>
        {% endif %}
        {% if flash['error'] %}
        <div id="flasherror">{{ flash['error'] }}</div>
        {% endif %}

        <div class="header">
            <h1>{% block page_title %}{% endblock %}</h1>
        </div>

        <div class="content">

            {% block body %}
            {% endblock %}

        </div>
    </div>
</div>

<script src="js/ui.js"></script>

</body>
</html>